.menuPrincipal li a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

body {
  font-family: "Raleway", sans-serif;
  background: #e8e8e8;
  font-style: normal;
  text-transform: none; }

.bannerHome {
  height: calc(100vh - 50px);
  margin: auto;
  position: relative;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  background-image: url("../IMG/innovacion.jpg"); }

.bannerContentHome {
  margin: auto;
  padding: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bannerContentHome h1 {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px; }

.bannerContentHome p {
  margin-top: -1vh;
  padding: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  width: 250px; }

.bannerContentHome a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid white;
  text-align: center;
  margin-top: 1vh;
  transition: all 0.2s;
  animation-name: palpitoCorazon;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.bannerContentHome a:hover {
  background-color: white;
  color: black; }

.articleIndex {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0px;
  background-color: #e8e8e8; }

.articleIndex article {
  position: relative;
  padding: 0 60px;
  margin-bottom: 20px; }

.articleIndexItem {
  background: linear-gradient(30deg, #00223b, #0b6592);
  border-radius: 15px;
  margin: 20px 0px;
  width: 50%;
  padding: 40px;
  color: white; }

.articleIndexItem h2 {
  margin: 10px; }

.articleIndexItem p {
  margin: 20px;
  font-size: 14px; }

.articleIndex a {
  text-decoration: none;
  background: orange;
  color: white;
  padding: 5px;
  border: 0;
  box-shadow: none; }

.clientesTextHome {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 10px;
  justify-content: center;
  text-align: center; }

.clientesTextHome ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-direction: column; }

.clientesTextHome li {
  text-align: center;
  line-height: 50px; }

.clientesTextHome h2 {
  font-size: 30px; }

.clientesTextHome a {
  margin-top: 10px;
  text-decoration: none;
  color: #0a0a0a; }

@media only screen and (min-width: 1200px) {
  /* Desktop: Home Styles  */
  .bannerContentHome h1 {
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
    width: 600px; }
  .bannerContentHome p {
    margin-top: -1vh;
    padding: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    width: 500px;
    margin-bottom: 1vh; }
  .articleIndex button {
    left: 50%;
    bottom: 60px;
    margin-bottom: 20px; }
  .articleIndex {
    flex-direction: row;
    margin: 60px 0px; }
  .articleIndex article {
    width: 30%;
    height: 280px; }
  .articleIndexItem {
    background-color: linear-gradient(30deg, #00223b, #0b6592);
    border-radius: 15px;
    margin: 0px 20px;
    width: 100%;
    height: 260px; }
  .articleIndexItem p {
    margin: 20px;
    font-size: 16px; }
  .clientesTextHome ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-direction: row; }
  .clientesTextHome li {
    text-align: center; } }

.menuPrincipal {
  list-style: none;
  background: black;
  margin: auto; }

.menuPrincipal li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block; }

.menuPrincipal li {
  display: block;
  text-align: center; }

.menuPrincipal li a:hover {
  background: #ef8354; }

.tituloMenuPrincipal {
  text-decoration: none;
  padding: 0%;
  margin: auto;
  font-size: 40px; }

@media only screen and (min-width: 1200px) {
  /* Desktop: Header Styles  */
  .menuPrincipal li {
    display: inline-block;
    font-size: 16px; } }

.sectionContacto {
  background: linear-gradient(30deg, #00223b, #0b6592);
  padding: 40px;
  transition: all 2s; }

.contactoText {
  margin: auto;
  padding: 0%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contactoText h3 {
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center; }

.contactoText a {
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid white;
  text-align: center; }

.contactoText a:hover {
  background-color: white;
  color: black; }

footer {
  background: black;
  margin: auto; }
  footer h3 {
    text-decoration: none;
    color: white;
    width: 94%;
    max-width: 100%;
    padding-top: 2%;
    margin: auto;
    margin-left: 35px;
    text-align: left; }
  footer div {
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-top: 10px; }
  footer ul li {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 20px; }
  footer a {
    display: block;
    padding: 0 10px;
    background: grey;
    color: white;
    line-height: 50px;
    font-size: 18px; }

@media only screen and (min-width: 1200px) {
  .tituloFooter {
    text-decoration: none;
    color: white;
    width: 94%;
    max-width: 100%;
    padding-top: 2%;
    margin: auto;
    margin-left: 35px;
    text-align: left; }
  .redes {
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-top: 10px; } }

.sectionTestimonio {
  padding: 40px 0px;
  background: #e8e8e8;
  color: #111111;
  text-align: center; }

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  font-size: 30px; }

.border {
  width: 160px;
  height: 5px;
  background: linear-gradient(30deg, #00223b, #0b6592);
  margin: 26px auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.col {
  flex: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 15px; }

.testimonioQuote {
  background: linear-gradient(30deg, #00223b, #0b6592);
  padding: 30px;
  color: white;
  font-size: 14px; }

.testimonioQuote img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px; }

.name {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  margin: 20px 0px; }

.sectionClientesUs {
  padding: 20px 20px;
  text-align: center;
  background-color: #262626;
  color: white; }

.sectionClientesUs h2 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bolder; }

.sectionClientesUs ul {
  list-style: none;
  margin-top: 20px;
  justify-content: space-evenly;
  text-align: center; }

.sectionClientesUs li {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; }

@media only screen and (min-width: 1200px) {
  .sectionClientesUs {
    padding: 20px 20px;
    text-align: center;
    background-color: #262626;
    color: white; }
  .sectionClientesUs h2 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bolder; }
  .sectionClientesUs ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    justify-content: space-evenly;
    text-align: center; }
  .sectionClientesUs li {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; }
  .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px; } }

.bannerNosotros {
  height: calc(100vh - 50px);
  margin: auto;
  position: relative;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  background-image: url("../IMG/Agencia.jpg"); }

.bannerContentNosotros {
  margin: auto;
  padding: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bannerContentNosotros h1 {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px; }

.bannerContentNosotros p {
  margin-top: -1vh;
  padding: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  width: 250px; }

.bannerContentNosotros a {
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid white;
  text-align: center;
  margin-top: 1vh;
  transition: all 0.2s;
  animation-name: palpitoCorazon;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.bannerContentNosotros a:hover {
  background-color: white;
  color: black; }

.contenedorNosotros {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding: 20px 20px; }

.tituloEvolucion {
  font-size: 22px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center; }

.tituloEvolucion p {
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px; }

.imagenEvolucion {
  text-align: center;
  max-width: 100%;
  display: block;
  margin: auto; }

.tituloTransformacion {
  padding: 40px 20px;
  justify-content: center;
  text-align: center;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tituloTransformacion h2 {
  font-size: 40px;
  font-weight: bolder; }

.tituloTransformacion h3 {
  font-size: 35px; }

.tituloTransformacion div {
  display: inline-block;
  margin: 20px 20px; }

.tituloTransformacion a {
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid white;
  text-align: center; }

.tituloTransformacion a:hover {
  background-color: white;
  color: black; }

.sectionPartners {
  padding: 40px 20px;
  text-align: center;
  justify-content: center; }

.sectionPartners h2 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder; }

.sectionPartners img {
  max-width: 100%;
  height: auto;
  margin: 40px 40px; }

@media only screen and (min-width: 1200px) {
  .bannerContentNosotros h1 {
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
    width: 600px; }
  .bannerContentNosotros p {
    margin-top: -1vh;
    padding: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    width: 500px;
    margin-bottom: 1vh; }
  .contenedorNosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding: 40px 0px; }
  .imagenEvolucion {
    width: 800px;
    height: 400px; }
  .tituloEvolucion {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left; }
  .tituloEvolucion p {
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .tituloTransformacion {
    padding: 40px 20px;
    justify-content: center;
    text-align: center;
    background-color: #262626;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.bannerSoluciones {
  height: calc(100vh - 50px);
  margin: auto;
  position: relative;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  background-image: url("../IMG/marketing.jpg"); }

.bannerContentSoluciones {
  margin: auto;
  padding: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bannerContentSoluciones h1 {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px; }

.bannerContentSoluciones p {
  margin-top: -1vh;
  padding: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  width: 250px; }

.bannerContentSoluciones a {
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid white;
  text-align: center;
  margin-top: 1vh;
  transition: all 0.2s;
  animation-name: palpitoCorazon;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.bannerContentSoluciones a:hover {
  background-color: white;
  color: black; }

.styleSoluciones {
  padding: 40px 0px 60px 0px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px; }

.styleSoluciones article {
  position: relative;
  width: 30%;
  height: 280px;
  padding: 0 60px; }

.styleSoluciones article p {
  width: 320px;
  margin: auto;
  margin-top: 20px; }

.styleSoluciones button {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 15px; }

.solucionesH2 {
  font-size: 30px; }

.solucionesParrafos {
  font-size: 16px;
  line-height: 1.5;
  word-spacing: 5px; }

.sectionEstrategia {
  padding: 40px 20px;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column; }

.sectionEstrategia h2 {
  font-size: 40px; }

.sectionBox {
  padding: 0%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 40px 20px; }

.sectionBox div {
  position: relative;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 2px dashed #c2b1b1; }

.sectionBox div p {
  margin: auto;
  margin-top: 20px; }

@media only screen and (min-width: 1200px) {
  .bannerContentSoluciones h1 {
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
    width: 700px; }
  .bannerContentSoluciones p {
    margin-top: -1vh;
    padding: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    width: 500px; }
  .sectionEstrategia {
    padding: 40px 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    background-color: #262626;
    color: white;
    display: flex;
    flex-direction: column; }
  .sectionEstrategia h2 {
    font-size: 40px; }
  .sectionBox {
    padding: 0%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: 40px 20px; }
  .sectionBox div {
    position: relative;
    width: 30%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px dashed #c2b1b1; }
  .sectionBox div p {
    margin: auto;
    margin-top: 20px; } }

.bannerContacto {
  height: calc(100vh - 50px);
  margin: auto;
  position: relative;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  background-image: url("../IMG/contacto.jpg");
  margin-bottom: 40px; }

.bannerContentContacto {
  margin: auto;
  padding: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bannerContentContacto h1 {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px; }

.bannerContentContacto a {
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid white;
  text-align: center;
  margin-top: 1vh;
  transition: all 0.2s;
  animation-name: palpitoCorazon;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.bannerContentContacto p {
  margin-top: -1vh;
  padding: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  width: 250px; }

.bannerContentContacto a:hover {
  background-color: white;
  color: black; }

.form {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  align-content: center; }

.formRegistro {
  margin: auto;
  padding: 30px;
  width: 70%;
  border-radius: 4px;
  background: linear-gradient(30deg, #00223b, #0b6592);
  font-family: "Raleway", sans-serif;
  color: white; }

.formRegistro h3 {
  font-size: 30px;
  margin-bottom: 20px; }

.controls {
  width: 95%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #646464;
  font-family: "Raleway", sans-serif;
  font-size: 18px; }

.controls select {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #646464;
  font-family: "Raleway", sans-serif;
  font-size: 14px; }

.checkbox {
  width: 100%;
  padding: 0px;
  border-radius: 4px;
  margin-bottom: 16px; }

.target {
  font-family: "Raleway", sans-serif;
  font-size: 18px; }

.formRegistro .botonesForm {
  width: 99%;
  background: rgba(255, 17, 0, 0.705);
  border: none;
  padding: 10px;
  color: white;
  margin: 10px 0;
  font-size: 16px; }

.sectionTestimonio {
  padding: 0%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px; }

@media only screen and (min-width: 1200px) {
  .formRegistro {
    width: 30%; }
  .bannerContentContacto h1 {
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
    width: 700px; }
  .bannerContentContacto p {
    margin-top: -1vh;
    padding: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    width: 500px; }
  .contactoText h3 {
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    width: 1000px; } }

.bannerCultura {
  height: calc(100vh - 50px);
  margin: auto;
  position: relative;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-image: url("../IMG/blog.jpg"); }

.bannerContentCultura {
  margin: auto;
  padding: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bannerContentCultura h1 {
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
  width: 300px; }

.bannerContentCultura p {
  margin-top: -1vh;
  padding: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  width: 250px; }

.bannerContentCultura a {
  text-decoration: none;
  color: white;
  padding: 9px 20px;
  border: 1px solid white;
  text-align: center;
  margin-top: 1vh;
  transition: all 0.2s;
  animation-name: palpitoCorazon;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.bannerContentCultura a:hover {
  background-color: white;
  color: black; }

.blogsCulturaDigital {
  font-size: 20px;
  padding: 20px; }

.blogsCulturaDigital article img {
  width: 100%;
  height: auto; }

.blogsCulturaDigital a {
  background: orange;
  color: white;
  padding: 5px;
  display: block;
  margin: 20px 0px;
  border: 0;
  box-shadow: none;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 12px; }

.blogsCulturaDigital p {
  margin-bottom: 20px;
  font-size: 14px; }

.menuBlogs {
  list-style: none;
  padding: 0%;
  background: #111111;
  margin: 30px 25px 30px 25px; }

.menuBlogs li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  font-weight: bold; }

.menuBlogs li {
  display: block;
  text-align: center; }

.menuBlogs li a:hover {
  background: #ef8354; }

@media only screen and (min-width: 1200px) {
  .menuBlogs li {
    display: inline-block;
    text-align: center; }
  .blogsCulturaDigital a {
    font-size: 16px; }
  .blogsCulturaDigital p {
    margin-bottom: 20px;
    font-size: 22px; }
  .bannerContentCultura h1 {
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
    width: 600px; }
  .bannerContentCultura p {
    margin-top: -1vh;
    padding: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    width: 500px; }
  .blogsCulturaDigital {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 10px; } }

@keyframes palpitoCorazon {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
