.sectionContacto {
  background: $colorGradiente;
  padding: 40px;
  transition: all 2s;
}

.contactoText {
  margin: auto;
  padding: 0%;
  height: 100%;
  color: $colorSecundario;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactoText h3 {
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.contactoText a {
  text-decoration: none;
  color: $colorSecundario;
  padding: 9px 20px;
  border: 1px solid $colorSecundario;
  text-align: center;
}

.contactoText a:hover {
  background-color: $colorSecundario;
  color: black;
}