.sectionTestimonio {
    padding: 40px 0px;
    background: #e8e8e8;
    color: #111111;
    text-align: center;
  }
  
  .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    font-size: 30px;
  }
  
  .border {
    width: 160px;
    height: 5px;
    background: $colorGradiente;
    margin: 26px auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col {
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }
  
  .testimonioQuote {
    background: $colorGradiente;
    padding: 30px;
    color: $colorSecundario;
    font-size: 14px;
  }
  
  .testimonioQuote img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  .name {
    font-size: 20px;
    font-weight: bolder;
    color: $colorSecundario;
    text-transform: uppercase;
    margin: 20px 0px;
  }

  

